<div class="jumbotron  jumbotron-fluid">
  <h1 class="title display-2 text-center">{{title}}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <div class="card-body">
          <foto url="https://vignette.wikia.nocookie.net/pokemon/images/9/9e/Pok%C3%A9mon_Red_Artwork.png/revision/latest?cb=20130212202608" titulo="Charizard"></foto>
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card</p>
        </div>
      </div>
    </div>
  </div>
