<div class="jumbotron  jumbotron-fluid">
    <h1 class="title display-2 text-center">Caelum Pic</h1>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12">
          <form class="form-inline listagem-filtro">
            <a [routerLink]="['/cadastro']" class="btn btn-primary col-2">Nova foto</a>
            <input (keyup)="0" #inputBusca type="search" class="filtro-input form-control col-10"  placeholder="Campo de busca">
          </form>
      </div>
    </div>
    <div class="row">
      <painel *ngFor="let foto of fotos | filtroPorTitulo:inputBusca.value"
               titulo="{{ foto.titulo | uppercase }}"
               class="col-12 col-sm-6 col-md-4 col-lg-2 mt-3">
         
               <foto titulo="{{ foto.titulo }}" url="{{ foto.url }}"></foto>
      
       </painel>
    </div>
  </div>