<header class="jumbotron  jumbotron-fluid">
    <h1 class="title display-2 text-center">Cadastro de Fotos</h1>
</header>

<section class="container">
    <div class="row">
        <form (submit)="salvar($event)" class="col-sm-6">

            <div class="form-group">
                <label for="InputTitle">Titulo</label>
                <input
                name="titulo" [(ngModel)]="foto.titulo"
                (input)="foto.titulo = $event.target.value"
                [value]="foto.titulo"
                class="form-control"
                type="text" id="InputTitle">
                
            </div>

            <div class="form-group">
                <label for="InputUrl">URL</label>
                <input
                (input)="foto.url = $event.target.value"
                [value]="foto.url"
                type="text"
                class="form-control"
                id="InputUrl">
            </div>

            <div class="form-group">
                <label for="TextAreaDescricao">Descrição</label>
                <textarea
                (input)="foto.descricao = $event.target.value"
                class="form-control"
                id="TextAreaDescricao" 
                rows="3">
                {{ foto.descricao }}
                </textarea>
            </div>

            <a [routerLink]="['']" class="btn btn-primary col-sm-3 mb-3">Voltar</a>

            <button type="submit" class="col-sm-3 btn btn-success mb-3">Salvar</button>

        </form>
        <aside class="col-sm-6">
            <painel titulo="{{ foto.titulo }}">
                <foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></foto>
            </painel>

        </aside>
    </div>
</section>