<header class="jumbotron  jumbotron-fluid">
    <h1 class="title display-2 text-center">Cadastro de Fotos</h1>
</header>

<section class="container">
    <div class="row">
        <form #formCadastro="ngForm" (submit)="salvar($event)" class="col-sm-6">

            <div class="form-group">
                <label for="InputTitle">Titulo</label>
                <input
                required
                name="titulo"
                [(ngModel)]="foto.titulo"
                #titulo = "ngModel"
                (input)="foto.titulo = $event.target.value"
                [value]="foto.titulo"
                class="form-control"
                type="text" id="InputTitle">

                <span *ngIf="titulo.invalid" class="form-control alert-danger mt-2">
                    Título obrigatório
                </span>
            </div>

            <div class="form-group">
                <label for="InputUrl">URL</label>
                <input
                required
                name="url"
                [(ngModel)]="foto.url"
                #url = "ngModel"
                (input)="foto.url = $event.target.value"
                [value]="foto.url"
                class="form-control"
                class="form-control"
                id="InputUrl">
                
                <span *ngIf="url.invalid" class="form-control alert-danger mt-2">
                    URL obrigatório
                </span>
            </div>

            <div class="form-group">
                <label for="TextAreaDescricao">Descrição</label>
                <textarea
                (input)="foto.descricao = $event.target.value"
                class="form-control"
                id="TextAreaDescricao" 
                rows="3">
                {{ foto.descricao }}
                </textarea>
            </div>

            <a [routerLink]="['']" class="btn btn-primary col-sm-3 mb-3">Voltar</a>

            <button type="submit" class="col-sm-3 btn btn-success mb-3" [disabled]="formCadastro.form.invalid">Salvar</button>
        </form>

        <aside class="col-sm-6">
            <painel titulo="{{ foto.titulo }}">
                <foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></foto>
            </painel>
        </aside>
    </div>
</section>